body {

  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Pacifico', cursive;
  font-size: 5.635rem;
  color: #63B7AF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #00909E;
  font-size: 2em;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #00909E;
}

p {
  line-height: 1.5;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}
a {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #D4F3EF;
  position: relative;
  padding-top: 100px;
  color: #63B7AF;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

< !--.top-cloud {
  position: relative;
  top: 50px;
  width: 200px;
  height: 150;
}-->

.snow-mountains {
  position: relative;
  width: 700px;
  height: 470px;
}

.hello-bot {
width: 20%;
}

.intro {
  width: 30%;
  margin: auto;
  }

.contact-msg {
  width: 40%;
  margin: 40px auto;60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.monitor {
  width: 20%;
  float: left;
  margin-right: 30px;
}
.needle {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  text-align: left;
  margin: 100px auto 100px auto;
}

.btn {
	background:#11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
	background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
  padding: 10px 20px 10px 20px;
	text-decoration:none;
	text-align:center;
}
.btn:hover {
  background: #30e3cb
	background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
	}
